<footer class="footer">
    <div class="footer-top">
      <div class="footer-locations">
     
        <img src="../../../assets/imagenes/logo.png" class="logo">
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-links">
        <div>
          <h4>Todas partes</h4>
          <p>Llenamos todos los rincones con arte</p>
        </div>
        <div>
          <h4>Fama</h4>
          <p>Date a conocer</p>
        </div>
        <div>
          <h4>Conciertos</h4>
          <p>Disfruta de miles de conciertos en directo</p>
        </div>
        <div>
          <h4>SocilaBeer Business</h4>
          <p>Servicio para grupos y empresas</p>
        </div>
        <div>
          <h4>Top Establecimientos</h4>
          <p>Mas que un local para disfrutar</p>
        </div>
        <div>
          <h4>Top Grupos</h4>
          <p>Grupos mas punteros de tu estilo</p>
        </div>
        
      </div>
      <div class="footer-legal">
        <a href="#">Condiciones de Uso y Venta</a> |
        <a href="#">Aviso de privacidad</a> |
        <a href="#">Área legal</a> |
        <a href="#">Cookies</a> |
        <a href="#">Publicidad basada en intereses</a>
        <p>© 1996-2024, SocialBeer.com, Inc. o sus afiliados</p>
      </div>
    </div>
  </footer>
  
