.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2d86; /* Color de fondo azul */
    color: white;
    padding: 10px 20px; /* Espacio interior */
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: sticky; /* Se queda pegado al top al hacer scroll */
    top: 0; /* Se queda en la parte superior */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }
  .menu-bar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3F51B5; /* Color de fondo azul */
    color: white;
    padding: 10px 20px; /* Espacio interior */
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: sticky; /* Se queda pegado al top al hacer scroll */
    top: 0; /* Se queda en la parte superior */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
    height: 25px;
  }
  
  .menu-left {
    display: flex;
    align-items: center;
    padding-right: 40px;
    cursor: pointer;
  }
  
  .logo {
    width: 40px; /* Tamaño del logo */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
  }
  
  .menu-item {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .menu-right button {
    color: white; /* Color del texto del botón */
    font-weight: bold;
  }