
<mat-tab-group animationDuration="1000ms">
  <!-- Pestaña para Eventos -->
  <mat-tab [label]="tabLabel">
    @if(rol == 'ROLE_GRUPO'){
      <div class="card-grid">
        @for(evento of eventosGrupoPaginados; track $index){
        <div class="card-container noClick">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header class="header-container">
              <div class="title-section">
              <mat-card-title class="tituloslink" (click)="obtenerGrupoPorNombre(evento.nombreGrupo, $event)" >{{ evento.nombreGrupo }}</mat-card-title>
              <mat-card-subtitle class="tituloslink2" (click)="obtenerEstablecimientoPorNombre(evento.nombreEstablecimiento, $event)">{{ evento.nombreEstablecimiento }}</mat-card-subtitle>
            </div>
            <div class="button-section">
              <mat-card-actions>
                <div class="title-section">
                  <mat-card-subtitle>{{ evento.fechaEvento }}</mat-card-subtitle>
                  <mat-card-subtitle>{{ evento.horaEvento }}</mat-card-subtitle>
              </div>
              </mat-card-actions>
            </div>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del evento">
  
            <!-- Contenido con fecha y hora separadas -->
            <mat-card-content>
              <div class="event-details">
                <p class="contratado"><b>Contratado: </b>{{ evento.fechaContratacion }}</p>
               
                <button class="comprar-btn-eliminar" (click)="cancelar(evento.id, evento.fechaContratacion)"><mat-icon>delete</mat-icon></button>
              </div>
            </mat-card-content>
  
            <!-- Contenido con precio y estado separados -->
            
          </mat-card>
        </div>
  
        }
        @if(spinner){
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
        <mat-paginator [length]="totalEventosGrupo" [pageSize]="pageSizeEventosGrupo" [pageSizeOptions]="[6, 12, 24, 100]" (page)="onPageChangeEventosGrupo($event)">
        </mat-paginator>

       
      
    }@else if (rol == 'ROLE_ESTABLECIMIENTO') {
      <div class="card-grid">
        @for(evento of eventosEstablecimientoPaginados; track $index){
        <div class="card-container noClick">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header class="header-container">
              <div class="title-section">
              <mat-card-title class="tituloslink" (click)="obtenerGrupoPorNombre(evento.nombreGrupo, $event)">{{ evento.nombreGrupo }}</mat-card-title>
              <mat-card-subtitle class="tituloslink2" (click)="obtenerEstablecimientoPorNombre(evento.nombreEstablecimiento, $event)">{{ evento.nombreEstablecimiento }}</mat-card-subtitle>
            </div>
            <div class="button-section">
              <mat-card-actions>
                <div class="title-section">
                  <mat-card-subtitle>{{ evento.fechaEvento }}</mat-card-subtitle>
                  <mat-card-subtitle>{{ evento.horaEvento }}</mat-card-subtitle>
              </div>
              </mat-card-actions>
            </div>
            </mat-card-header>  
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del evento">
            <!-- Contenido con fecha y hora separadas -->
            <mat-card-content>
              <div class="event-details">
                <p class="contratado"><b>Contratado: </b>{{ evento.fechaContratacion }}</p>
                <button class="comprar-btn" (click)="openDialog2(evento.id)"><mat-icon>edit</mat-icon></button>
                <button class="comprar-btn-eliminar" (click)="cancelar(evento.id, evento.fechaContratacion)"><mat-icon>delete</mat-icon></button>
              </div>
            </mat-card-content>
            <!-- Contenido con precio y estado separados -->
            
          </mat-card>
        </div>
  
        }
        @if(spinner){
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
        <mat-paginator [length]="totalEventosEstablecimiento" [pageSize]="pageSizeEventosEstablecimiento" [pageSizeOptions]="[6, 12, 24, 100]" (page)="onPageChangeEventosEstablecimiento($event)">
        </mat-paginator>

        
      
    }@else if(rol == 'ROLE_CLIENTE'){
      <div class="card-grid">
      
        @for(evento of eventosPaginados; track $index){
          @if(esFechaFutura(evento.fechaEvento)){
            <div class="card-container noClick">
              <mat-card class="example-card eventos" appearance="outlined">
                <mat-card-content>
                  <div class="event-details">
                    <p><b>{{ evento.fechaEvento }}</b></p>
                    <p>{{ evento.horaEvento }}</p>
                  </div>
                </mat-card-content>
                
                <div class="image-container">
                  <div class="image-diagonal">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del evento" class="image img-1">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del evento" class="image img-2" />
                  </div>
                </div>
      
                <!-- Contenido con fecha y hora separadas -->
                <mat-card-content>
                  <div class="event-details">
                    <p class="link-evento-establecimiento"  (click)="obtenerEstablecimientoPorNombre(evento.nombreEstablecimiento, $event)">{{ evento.nombreEstablecimiento }}</p>
                  
                    <p class="link-evento-grupo" (click)="obtenerGrupoPorNombre(evento.nombreGrupo, $event)">{{ evento.nombreGrupo }}</p>
                  </div>
                </mat-card-content>
      
                <!-- Contenido con precio y estado separados -->
          
              </mat-card>
            </div>
          }
            
          
       
  
        }
        @if(spinner){
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
        <mat-paginator [length]="totalEventos" [pageSize]="pageSizeEventos" [pageSizeOptions]="[6, 12, 24, 100]"
      (page)="onPageChangeEventos($event)">
    </mat-paginator>
      
    }
    
  </mat-tab>

  <!-- Pestaña para Grupos -->
   @if(rol != 'ROLE_GRUPO'){
    <mat-tab label="Grupos">
      <div class="card-grid">
        @for (grupo of grupos; track $index) {
          @if(grupo.grupo != "" && grupo.estilo != "" && grupo.duracion != "" && grupo.provincia != '' && grupo.tarifa > 0){
            <div class="card-container" >
              <mat-card class="example-card" appearance="outlined">
                <mat-card-header class="header-container" (click)="verGrupo(grupo.id, $event)">
                  <div class="title-section">
                  <mat-card-title class="tituloslink">{{ grupo.grupo }}</mat-card-title>
                  <mat-card-subtitle>{{ grupo.estilo }}</mat-card-subtitle>
                </div>
                <div class="button-section">
                  <mat-card-actions>
                    <div class="valoracion-details">
                    <div class="rating">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <span
                          class="star"
                          [ngClass]="{ 'filled': star <= puntuacionesMediasGrupos[grupo.id] }"
                          >&#9733;</span
                        >
                      </ng-container>
                    </div>
                  </div>
                  </mat-card-actions>
                 
                </div>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del grupo" (click)="verGrupo(grupo.id, $event)">
                <mat-card-content (click)="verGrupo(grupo.id, $event)">
                  <div class="grupo-details">
                  <p><span><b>Duración: </b></span> {{grupo.duracion}}h</p>
                  @if(rol == 'ROLE_ESTABLECIMIENTO'){
                    <p><span><b>Tarifa: </b></span>{{grupo.tarifa}}€</p>
                  }@else {
                    <p>{{grupo.provincia}}h</p>
                  }
                  
                </div>
                </mat-card-content>
                 @if(rol == 'ROLE_ESTABLECIMIENTO'){
                  <button mat-fab extended class="green-button" (click)="openDialog(grupo.id, grupo.grupo)">
                    <mat-icon>handshake</mat-icon>
                    contratar
                  </button>  
                }
                
              </mat-card>
              
            </div>
          }
        
       
        }
        @if(spinner){
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
      <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[6, 12, 24, 100]"
        (page)="onPageChange($event)">
      </mat-paginator>
    </mat-tab>
   }
 

  <!-- Pestaña para Establecimientos -->
   @if(rol != 'ROLE_ESTABLECIMIENTO'){
    <mat-tab label="Establecimientos">
      <div class="card-grid">
        @for (establecimiento of establecimientos; track $index){
          @if(establecimiento.establecimiento != "" && establecimiento.direccion != "" && establecimiento.aforo != 0 && establecimiento.provincia != ''){
            <div class="card-container" (click)="verEstablecimiento(establecimiento.id, $event)">
              <mat-card class="example-card" appearance="outlined">
                <mat-card-header class="header-container">
                  <div class="title-section">
                  <mat-card-title class="tituloslink">{{ establecimiento.establecimiento }}</mat-card-title>
                  <mat-card-subtitle>{{ establecimiento.provincia }}</mat-card-subtitle>
                    </div>
                    <div class="button-section">
                      <mat-card-actions>
                        <div class="valoracion-details">
                        <div class="rating">
                          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                            <span
                              class="star"
                              [ngClass]="{ 'filled': star <= puntuacionesMediasEstablecimientos[establecimiento.id] }"
                              >&#9733;</span
                            >
                          </ng-container>
                        </div>
                      </div>
                      </mat-card-actions>
      
                    </div>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                  alt="Foto del establecimiento">
                <mat-card-content>
                  <div class="location-details">
                    <p>Dirección: {{ establecimiento.direccion }}</p>
                    <p>Aforo: {{ establecimiento.aforo }}</p>
                  </div>
                </mat-card-content>         
              </mat-card>
            </div>
          }
        
        }
        @if(spinner){
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
      <mat-paginator [length]="totalEstablecimientos" [pageSize]="pageSizeEstablecimientos"
        [pageSizeOptions]="[6, 12, 24, 100]" (page)="onPageChangeEstablecimientos($event)">
      </mat-paginator>
    </mat-tab>
   }
  
</mat-tab-group>