/* Establece el color primario para el fondo del encabezado del panel */
.mat-expansion-panel-header {
  background-color: #3F51B5; /* Color primario */
  color: white; /* Texto blanco */
  border-radius: 0 !important;
}
.mat-expansion-panel {
  position: relative; /* Necesario para que el z-index funcione */
  z-index: 1000; /* Asegura que sobresalga sobre el filtro */
  border-radius: 0 !important;
}

.mat-expansion-panel.mat-expanded {
  z-index: 1000; /* Mayor z-index cuando está expandido */
}



/* Mantén el color primario cuando pasas el ratón */
.mat-expansion-panel-header:hover {
  background-color: #3F51B5; /* Mantener color primario en hover */
  color: white;
 /* Mantén el texto blanco */
}

/* Sobrescribe el color de fondo predeterminado de Angular Material */
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover {
  background-color: #3F51B5;
  transform: none; /* Evita que se vuelva gris en hover */
}

/* Colorea el panel expandido también en color primario */
.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  background-color: #3F51B5;
  transform: none; /* Color primario para el panel expandido */
}

/* Para mantener el color del borde (si hay alguno) */
.mat-expansion-panel-header.mat-expanded {
  border-color: #3F51B5; /* Borde del color primario al expandir */
}

.texto{
  color:#FFFFFF   ;
}


.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  

  .form-container {
    padding-top: 17px;
    display: grid;
    grid-template-columns: 1fr; /* Un campo por fila */
    gap: 16px; /* Espacio entre los campos */
  }

  .form-container > mat-form-field {
    margin: 0; /* Asegúrate de que todos los campos tengan márgenes iguales */
  }

  
.mat-accordion{
  margin-top: 0;
  position: sticky; /* Se queda fijo al hacer scroll */
  top: 79px; /* Ajusta esta distancia para que esté justo debajo del menú */
  z-index: 900; /* Asegúrate de que esté por debajo del menu-bar */
  background-color: #fff; /* Fondo blanco para evitar traslapes visuales */
}
  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2d86; /* Color de fondo azul */
    color: white;
    padding: 10px 20px; /* Espacio interior */
    max-width: 100%; /* Ocupa todo el ancho de la pantalla */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: sticky; /* Se queda pegado al top al hacer scroll */
    top: 0; /* Se queda en la parte superior */
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }
  
  .menu-left {
    display: flex;
    align-items: center;
    padding-right: 40px;
    cursor: pointer;
  }
  
  .logo {
    width: 40px; /* Tamaño del logo */
    height: auto;
    margin-right: 10px; /* Espacio entre el logo y el texto */
  }
  
  .menu-item {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .menu-right button {
    color: white; /* Color del texto del botón */
    font-weight: bold;
  }
  
  .mat-accordion {
    margin-top: 0; /* Elimina margen superior para juntar con el menú */
  }
  
  @media (min-width: 768px) {
    .form-container {
      grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas grandes */
    }
  }
  
  @media (min-width: 1200px) {
    .form-container {
      grid-template-columns: repeat(5, 1fr); /* Máximo de 5 ítems por fila */
    }
  }
  
  .flex {
    display: flex;
    justify-content:flex-end ;
    margin-top: 16px;
  }

  .flex button {
    margin-left: 16px; /* Aumenta el espacio entre los botones */
  }

  .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    width: 100vw;
    height: 100vh;
  }


