<div class="vista-cliente">
    <!-- Navbar / Cliente -->
    <div class="cliente-container">
      <app-grupo class="nav"></app-grupo>
    </div>
  
    <!-- Cuerpo central: Filtros a la izquierda y Mostrar a la derecha -->
    <div class="cuerpo">
      <div class="filtro-container">
        <app-filtros class="filtros"></app-filtros>
      </div>
      <div class="separador"></div>
      <div class="mostrar-container">
        <app-mostrar class="mostrar"></app-mostrar>
      </div>
    </div>
  
    <!-- Footer -->
    <div class="footer-container">
     
    </div>
  </div>
  
