<!-- Toolbar visible on mobile -->
<mat-toolbar>
  <button mat-icon-button (click)="toggleFilters()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Filtros</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<!-- Filtros desplegable controlado por showFilters -->
 @if(showFilters ){
  <div class="filter-container">
    <form class="example-form">
      <!-- Búsqueda por Nombre de Grupo -->
      <div class="filter-section">
        <h3><u>Buscar Grupo</u></h3>
        <mat-form-field class="example-full-width large-input">
          <mat-label>Grupo</mat-label>
          <input matInput placeholder="Grupo">
        </mat-form-field>
      </div>
  
      <!-- Búsqueda por Nombre de Establecimiento -->
      <div class="filter-section">
        <h3><u>Buscar Establecimiento</u></h3>
        <mat-form-field class="example-full-width large-input">
          <mat-label>Establecimiento</mat-label>
          <input matInput placeholder="Establecimiento">
        </mat-form-field>
      </div>
  
      <!-- Selección de Provincia -->
      <div class="filter-section">
        <h3><u>Seleccionar Provincia</u></h3>
        <mat-form-field class="large-select">
          <mat-label>- selecciona -</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Estilo Musical -->
      <div class="filter-section estilos-musicales">
        <h3>Estilo Musical</h3>
        <div class="checkbox-columns" [ngClass]="{'single-column': isMobile}">
          <label>
            <input type="checkbox" value="rock"> Rock
          </label>
          <label>
            <input type="checkbox" value="jazz"> Jazz
          </label>
          <label>
            <input type="checkbox" value="flamenco"> Flamenco
          </label>
          <label>
            <input type="checkbox" value="clasica"> Clásica
          </label>
          <label>
            <input type="checkbox" value="pop"> Pop
          </label>
          <label>
            <input type="checkbox" value="hiphop"> Hip-Hop
          </label>
          <label>
            <input type="checkbox" value="reggae"> Reggae
          </label>
          <label>
            <input type="checkbox" value="electronica"> Electrónica
          </label>
          <label>
            <input type="checkbox" value="heavymetal"> Heavy Metal
          </label>
          <label>
            <input type="checkbox" value="blues"> Blues
          </label>
          <label>
            <input type="checkbox" value="funk"> Funk
          </label>
          <label>
            <input type="checkbox" value="salsa"> Salsa
          </label>
          <label>
            <input type="checkbox" value="rnb"> R&B
          </label>
        </div>
      </div>
  
      <hr>
  
      <!-- Botones de Aplicar Cambios y Borrar Filtros -->
      <div class="filter-section filter-buttons">
        <button id="applyFilters">Aplicar Cambios</button>
        <button id="clearFilters">Borrar Filtros</button>
      </div>
    </form>
  </div>
 }

