<div class="filter-container">
  <h2>Filtrar</h2>
  <form class="example-form">
    <!-- Búsqueda por Nombre de Grupo -->
    <div class="filter-section">
      <label for="grupo">Buscar Grupo</label>
      <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Búsqueda por Nombre de Establecimiento -->
    <div class="filter-section">
      <label for="establecimiento">Buscar Establecimiento</label>
      <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- Selección de Provincia -->
    <div class="filter-section">
      <label for="provincia">Seleccionar Provincia</label>
      <mat-form-field class="large-select">
        <mat-label>- selecciona -</mat-label>
        <mat-select>
          @for(provincia of provinciasEspana; track $index){
            <mat-option value="{{provincia}}">{{provincia}}</mat-option>
          }
          
          
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
