


  <div class="filter-container">
    <form class="example-form">
      <!-- Búsqueda por Nombre de Grupo -->
      <div class="filter-section">
        <h4>Buscar Grupo</h4>
        <mat-form-field class="example-full-width large-input">
          <mat-label>Grupo</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
  
      <!-- Búsqueda por Nombre de Establecimiento -->
      <div class="filter-section">
        <h4>Buscar Establecimiento</h4>
        <mat-form-field class="example-full-width large-input">
          <mat-label>Establecimiento</mat-label>
          <input matInput placeholder="">
        </mat-form-field>
      </div>
  
      <!-- Selección de Provincia -->
      <div class="filter-section">
        <h4>Seleccionar Provincia</h4>
        <mat-form-field class="large-select">
          <mat-label>- selecciona -</mat-label>
          <mat-select>
            @for(provincia of provincias; track $index){
              <mat-option value="{{provincia}}"> {{provincia}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
  
      <!-- Estilo Musical -->
      <div class="filter-section estilos-musicales">
        <h4>Estilo Musical</h4>
        <div class="checkbox-columns">
          <label>
            <input type="checkbox" value="rock"> Rock
          </label>
          <label>
            <input type="checkbox" value="jazz"> Jazz
          </label>
          <label>
            <input type="checkbox" value="flamenco"> Flamenco
          </label>
          <label>
            <input type="checkbox" value="clasica"> Clásica
          </label>
          <label>
            <input type="checkbox" value="pop"> Pop
          </label>
          <label>
            <input type="checkbox" value="hiphop"> Hip-Hop
          </label>
          <label>
            <input type="checkbox" value="reggae"> Reggae
          </label>
          <label>
            <input type="checkbox" value="electronica"> Electrónica
          </label>
          <label>
            <input type="checkbox" value="heavymetal"> Heavy Metal
          </label>
          <label>
            <input type="checkbox" value="blues"> Blues
          </label>
          <label>
            <input type="checkbox" value="funk"> Funk
          </label>
          <label>
            <input type="checkbox" value="salsa"> Salsa
          </label>
          <label>
            <input type="checkbox" value="rnb"> R&B
          </label>
        </div>
      </div>
  
      <hr>
  
      <!-- Botones de Aplicar Cambios y Borrar Filtros -->
      <div class="filter-section filter-buttons">
        <button id="applyFilters" (click)="enviarFiltros()">Aplicar Cambios</button>
        <button id="clearFilters" (click)="limpiarFiltros()">Borrar Filtros</button>
      </div>
    </form>


