/* Estilos para el contenedor de filtros */


/* Estilo para los checkboxes en pantallas grandes (2 columnas) */
.checkbox-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.filter-container{
  padding: 15px;
}
.filter-buttons button {
  margin-top: 15px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color:#3f51b5;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.filter-buttons button#clearFilters {
  background-color: #dc3545;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.filter-buttons button#clearFilters:hover {
  background-color: #c82333;
}

.large-input {
  width: 99%;
}

.large-select {
  width: 99%;
}

h4{
  color:#3f51b5 ;
  margin: 0px;
  margin-bottom: 5px;
}

mat-label{
font-size: 14px;
}

.checkbox-columns label {
  font-size: 12px;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  width: 100vw;
  height: 100vh;
}

.filter-buttons{
  display: flex;
  justify-content: space-between; /* Distribuye los botones a cada extremo */
  margin-top: 15px;

}

.filter-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

