/* Estilos para el contenedor de filtros */


/* Estilo para los checkboxes en pantallas grandes (2 columnas) */
.checkbox-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.filter-container{
  padding: 15px;
}
.filter-buttons button {
  margin-top: 15px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color:#3f51b5;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.filter-buttons button#clearFilters {
  background-color: #dc3545;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.filter-buttons button#clearFilters:hover {
  background-color: #c82333;
}

.large-input {
  width: 99%;
}

.large-select {
  width: 99%;
}

h4{
  color:#3f51b5 ;
  margin: 0px;
  margin-bottom: 5px;
}

mat-label{
font-size: 14px;
}

.checkbox-columns label {
  font-size: 12px;
}
